@model CommentSection.Models.Comment.Commentary

<div class="container">
    <h2>Editar Resposta</h2>

    @using (Html.BeginForm("EditReply", "Post", FormMethod.Post)) //utiliza um formulário para a adição de respostas à comentários
    {

        @Html.HiddenFor(m => m.repId)

        <div class="row">
            <div class="col">
                @*Essa primeira caixa de texto é responsavel por editar o nome, porém, por se tratar de um nome fixo, ela é do tipo readonly*@
            @Html.TextBoxFor(model => model.repAuthor, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            @*Essa caixa é a do comentário editável, possuindo 4 linhas e máximo de 500 caracteres*@
            @Html.TextAreaFor(model => model.repComment, new { @class = "form-control", @required = "required", @rows = "4", @maxlength = "500" })
        </div>
    </div>

    @Html.HiddenFor(m => m.repId)
    <button type="submit" class="btn btn-outline-success mt-3">Salvar</button>
    <a class="btn btn-secondary mt-3" href="@Url.Action("PostList", "Post")">Cancelar</a>

}
</div>
