@model CommentSection.Models.Comment.CommentModel


<!DOCTYPE html>
<head>

</head>

<body>
    @*Comentário principal*@
    <div class="row">
        <div class="col-6">
            <h4>@Model.Title</h4>
            <p>@Model.Author</p>
            <p>@Model.Comment</p>
            <p>Criado no dia: @Model.Date </p>
        </div>
    </div>



    @*Respostas*@
    @if (Model != null && Model.Reply != null && Model.Reply.Count > 0)
    {
        foreach (var reply in Model.Reply)
        {
            <div class="row">
                <div class="col-1">
                </div>

                <div class="col-auto mb-2">
                    <p><strong>@reply.Author</strong></p>
                    <p>@reply.Comment</p>
                    <p>@reply.Date.ToString("dd/MM/yyyy HH:mm")</p>
                </div>
            </div>
        }
    }

    else
    {
        <p>No Replies</p>
    }

</body>